@model Component
@{
    ViewData["Title"] = "Копмпонент изменен";
}
<div style="text-align:center;">
    <card title="Компонент @("\"" + @Model.Name + "\"") успешно изменен">
        <form method="get" asp-area="Moderator" asp-controller="List" asp-action="Component">
            <button type="submit" class="btn btn-primary m-1">Перейти к спику компонентов</button>
        </form>
    </card>
</div>
