@model TagEditVM
@{
    ViewData["Title"] = "Тег изменен";
}
<div style="text-align:center;">
    <card title="Тег @("\"" + @Model.Name + "\"") успешно изменен">
        <form method="get" asp-area="Moderator" asp-controller="List" asp-action="Tag">
            <button type="submit" class="btn btn-primary m-1">Перейти к спику тегов</button>
        </form>
    </card>
</div>
