@if (User.IsInRole("Moderator"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" id="editMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Редактировать
        </a>
        <ul class="dropdown-menu onhover-block" aria-labelledby="editMenu">
            <li class="dropdown-item dropend">
                <a class="nav-link dropdown-toggle text-dark p-1" id="editMenuProducts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Продукты
                </a>
                <ul class="dropdown-menu" aria-labelledby="editMenuProducts">
                    <li><a class="dropdown-item" asp-area="Moderator" asp-controller="List" asp-action="Product">Список</a></li>
                    <li><a class="dropdown-item" asp-area="Moderator" asp-controller="Create" asp-action="Product">Создать</a></li>

                </ul>
            </li>
            <li class="dropdown-item dropend">
                <a class="nav-link dropdown-toggle text-dark p-1" id="editMenuCategory" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Категории
                </a>
                <ul class="dropdown-menu" aria-labelledby="editMenuCategory">
                    <li><a class="dropdown-item" asp-area="Moderator" asp-controller="List" asp-action="Category">Список</a></li>
                    <li><a class="dropdown-item" asp-area="Moderator" asp-controller="Create" asp-action="Category">Создать</a></li>

                </ul>
            </li>
            <li class="dropdown-item dropend ">
                <a class="nav-link dropdown-toggle text-dark p-1" id="editMenuComponents" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Компоненты
                </a>
                <ul class="dropdown-menu" aria-labelledby="editMenuComponents">
                    <li><a class="dropdown-item" asp-area="Moderator" asp-controller="List" asp-action="Component">Список</a></li>
                    <li><a class="dropdown-item" asp-area="Moderator" asp-controller="Create" asp-action="Component">Создать</a></li>
                </ul>
            </li>
            <li class="dropdown-item dropend ">
                <a class="nav-link dropdown-toggle text-dark p-1" id="editMenuTag" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Теги
                </a>
                <ul class="dropdown-menu" aria-labelledby="editMenuTag">
                    <li><a class="dropdown-item" asp-area="Moderator" asp-controller="List" asp-action="Tag">Список</a></li>
                    <li><a class="dropdown-item" asp-area="Moderator" asp-controller="Create" asp-action="Tag">Создать</a></li>
                </ul>
            </li>
        </ul>
    </li>
}
@if (User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Список пользователей</a>
    </li>
}