@model List<UserVM>

<table class="table">
    <thead>
    <th scope="col">Имя аккаунта</th>
    <th scope="col">Email</th>
    <th scope="col">Роли</th>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td><a asp-action="EditUser" asp-route-userId="@u.Id">@u.Name</a></td>
                <td>@u.Email</td>
                @{
                    string roles = String.Empty;
                    foreach (var r in u.Roles)
                    {
                        roles += @r + " ";
                    }
                }
                <td>@roles</td>
            </tr>
        }
    </tbody>
</table>