@* CatalogMenu *@

@model List<CategoryMenuVM>
@{
    var firstLayer = Model.Where(c => c.ParentId == null);
}
<nav class=" colapse" id="nav-menu" aria-expanded="false">
    <ul class="menu-list">        
        @foreach (var c in firstLayer)
        {
            <vc:catalog-menu-layer base-category="@c" all-categories="@Model"></vc:catalog-menu-layer>
        }        
    </ul>
</nav>