html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.menu-list {
    list-style-type: none;
}

.menu-logo-container {
    width: 28px;
    height: 26px;
    display: inline-block;
}

.menu-element {
    display: inline-block;
}

.menu-navlink {
    display: inline-block;
    margin: 0px;
    padding: 0;
    color: black;
    text-decoration: none;
}

.menu-navlink-active {
    display: inline-block;
    margin: 0px;
    padding: 0;
    color: mediumblue;
    text-decoration: none;
}

.menu-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    margin: 0px;
    display: inline-block;
}

.menu-chevron {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    margin: 0px;
    display: inline-block;
    transition: 0.25s;
}

.menu-chevron-open {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    margin: 0px;
    display: inline-block;
    transition: 0.25s;
    transform: rotate(-90deg);
}

.menu-img {
    vertical-align: middle;
}

.table-link {
    display: inline-block;
    margin: 0px;
    padding: 0;
    color: black;
    text-decoration: none;
}

.onhover-block {
}

    .onhover-block:hover {
        display: block;
    }

.tag {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.tag-s {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    margin-bottom: 2px;
    font-size: 14px;
}
.tag-s:hover {
    color: red;
}
.tag-sm {
    display: inline-block;
    cursor: pointer;
    user-select: none;    
}

    .tag-sm:hover {
        color: green;
    }

.tag-sm-selected {
    color: blue;
}

.tag-devider {
    display:inline-block;
    user-select: none;
    margin: 0px;
}
.tag-wrapper
{
    white-space:nowrap;
    display:inline-block;
}
.tag-list {
    display: inline-block;
    user-select: none;
    font-size: 14px;
}


.field-validation-error {
    color: red;
    font-size: smaller;
}

.card-m-auto {
    margin: auto;
    display: inline-block;
    text-align: left
}
